 body{
    padding: 0;
    margin: 0;
} 

.nav-container {
    position: fixed;
    width: 100%;
    height: auto;
    box-shadow: 1px 1px white;
    z-index: 2; 
}
.logo{
    height: 60px;
    width: 60px;
}
.nav-link {
    text-decoration: none;
    color: #00ccff;
    margin: 7px 30px; /* Added space on the left and right */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00ccff; /* White line color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::before {
    width: 100%;
    transition: width 0.8s ease;
    color: #ffffff;
  }

  .home-container {
    background: url(/src/Assets/Images/Toto.jpg);
    background-size: cover;  
    background-repeat: no-repeat;  
    height: 100vh;
    width: 100%;
    position: relative;
    animation: slide 100s infinite;
    background-position: 100% center;
   
}



.home-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
 
}

/* @keyframes slide {
     
    0% {
        background-position: 0% center;
        background-image: url(/src/Assets/Images/Toto.jpg);
       
    }

    20% {
        background-position: 0% center;
        background-image: url(/src/Assets/Images/ttt2.jpg);
    }
    40% {
        background-position: 0% center;
        background-image: url(/src/Assets/Images/n3.jpg);
    }
    60% {
        background-position: 0% center;
        background-image: url(/src/Assets/Images/n2.jpg);
    }
    80% {
        background-position: 0% center;
        background-image: url(/src/Assets/Images/S3.jpg);
    }
    100% {
        background-position: 0% center;
        background-image: url(/src/Assets/Images/SS1.jpg);
    }
} */

.phone-contact{
    color:#00ccff;
    align-items: center;
}

.contact{
    background-size: cover;
    background-image: url('../Images/phn.jpg');
    background-repeat: no-repeat; 
    background-position: 100% center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
}

