body {
  padding: 0;
  margin: 0;
}

.nav-container {
  position: fixed;
  width: 100%;
  height: auto;
  box-shadow: 1px 1px white;
  z-index: 3;
  background-color: #ffffff;
}

.navbar-links {
  position: fixed;
  margin: 5rem auto;
  width: 90%;
  z-index: 2;
  display: none;
  transition: 1s ease-in-out;
}

.navbar-links.show {
  display: block;
}

.logo {
  height: 60px;
  width: 60px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  margin: 7px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #00ccff;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
  transition: width 0.8s ease;
  color: #00ccff;
}

.home-container {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: zoom 100s infinite; /* Use zoom animation */
  background-position: 100% center;
  z-index: 1;
}

.navbar-toggler {
  background-color: #00ccff;
}

.home-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.main {
  z-index: 3;
  position: relative;
  opacity: 0.7;
}

@keyframes zoom {

  0% {
    background-size: 140% 140%;
    background-image: url(/src/Assets/Images/Cameraman.jpg);
    
  }
  25% {
    background-size: 130% 130%;
    background-image: url(/src/Assets/Images/Birds.jpg);
  }
  50% {
    background-size: 120% 120%;
    background-image: url(/src/Assets/Images/Toto.jpg);
  }
  75% {
    background-size: 110% 110%;
    background-image: url(/src/Assets/Images/nam.jpg);
  }

  100% {
    background-size: 100% 100%;
    background-image: url(/src/Assets/Images/musiclogo.avif);
  }
}


 
 h2 {
    color: #ffffff;
    font-family: "arial";
    font-size: 1em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 4s steps(80, end);
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
    z-index: 3;
  }
  
@keyframes animtext { 
 from {
     width: 0;
    transition: all 2s ease-in-out;
 } 
} 


/* CONTACT  STYLES */
.phone-contact{
    color:#000000;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('../Images/phn.jpg');
    background-repeat: no-repeat;
    background-position: 100% center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  
  .content {
    z-index: 3;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .underlined-input {
    border: none;
    border-bottom: 2px solid #ffffff; 
    background: transparent;
    margin: 10px;
    padding: 5px 0;
    width: 100%; 
    color: #00ccff; 
  }

  .btn {
    background-color: #00ccff;
  }

  .btn:hover{
    background-color: #008caf;
  }

  .about-img{
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    display: flex; 
    justify-content: center;
    align-items: center; 
     position: relative;
  }


  .footer-links {
    color: black;
    margin: 0 1em;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .footer-links a {
    display: flex;
    color: #0a0c0d;
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    justify-content: center; 
    margin: 1rem 0;
    margin-left: 2em;
  }
  
  .footer-links h6 {
    text-align: center;
    margin-left: 1em; 
  }

  .footer-container h5 {
    margin-left: 2.7em; 
    margin-top: 1rem;
    color: #000000; 
  }
  .footer-container{
    background-color: #0a0808;
  }
  .contact-footer-links{
    color: #000000;
    margin-left: 2.5em;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 2rem;
  }

  /* Add this CSS to create the slanted line */
  .about-container {
    position: relative;
    overflow: hidden; /* Hide overflow */
  }
  
  .about-text-container {
    background: #54d8f9; /* Set the background color */
    padding: 20px; /* Adjust padding as needed */
    transform-origin: top right; /* Rotate from the top right corner */
    position: relative;
    z-index: 1;
    
    color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); /* Slant the end */
  }
  .about-text{
    margin-right: 100px;
  }

  
  .col-lg-4 {
    position: relative;
    z-index: 2;
  }
  
  .copyright{
    background-color:#ffffff;
  }